@using Microsoft.AspNetCore.Identity
@using dotnet_mvc_ecommerce.Areas.Identity.Data

@inject UserManager<User> UserManager

<div class="card m-4 p-4">
    <div class="card-title">
        All User Action
    </div>
<p>All User</p>
</div>
