@using Microsoft.AspNetCore.Identity
@using dotnet_mvc_ecommerce.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


//loginpartial1
@if (SignInManager.IsSignedIn(User)){
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CustomerDetail" asp-action="Index">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingBasket" asp-action="Index"><i class="bi bi-cart"></i></a>
    </li>
}
