@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using dotnet_mvc_ecommerce.Areas.Identity.Data

@inject SignInManager<User> SignInManager


<div class="container d-flex justify-content-center">
    <partial name="_AllUserCardPartial" />
    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_CustomerCardPartial" />
        <partial name="_ShopAssistantCardPartial" />
    }
</div>